* {
    padding: 0;
    margin: 0;
}

.primeiraViagem{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    padding: 5% 10% 10% 10%;
}

.relato{
    margin-top: 5px;
    width: 100%;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.relato > p {
    grid-column: 2;
}

.pVTitulo{
    font-weight: normal;
    font-size: 36px;
    margin-top: 5vh;
}

.pVTSubtitulo {
    color: #a78042;
    font-size: 24px;
    width: 50%;
    margin: 4vh;
}

.pVDescricao {
    text-align: left;
}

.strong {
    font-weight: bold;
}
.link {
    color: #a78042;
}

img{
    width: 100%;
}

.relato > div > h2{
    font-weight: normal;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    font-size: 36px;
    width: 100%;
    height: 0px;
    margin: 20px 0px 40px 0px;
}

p {
    margin-bottom: 20px;
}